<div id="J_Login" class="login">
<div id="J_Message" style="display:none;" class="login-msg msg">

	<p class="error"></p>
	
</div>
        
        <div class="nick">
            您目前已登录账户:<em>ylguitar80188</em>
        </div>
        <form action="/member/login.jhtml?redirectURL=http%3A%2F%2Fmember1.taobao.com%2Fmember%2Ffresh%2Faccount_security.htm%3Fspm%3D1.7274553.754894437.3.fINakd" method="post" id="J_Form">
        <input type="hidden" name="TPL_username" id="TPL_username_1" value="ylguitar80188" />
        <input type="hidden" name="ChuJiYuTag" id="ChuJiYuTag" value="ChuJiYuTag" />
            <div class="pwd">
                <label for="J_PwdV">为保障安全，请确认密码:</label>
                <input id="J_PwdV" class="i-text" type="password" name="TPL_password" value="">
            </div>
            <div class="checkcode field-checkcode hidden" id="l_f_code">
                <span class="ph-label">验证码</span> 
                <input id="J_CodeInputV" type="text" class="i-text i-checkcode" maxlength="4" name="TPL_checkcode">
                <img id="J_CodeImageV" src="https://s.tbcdn.cn/apps/login/static/img/blank.gif" data-src="" class="checkcode-img">
                <a href="#" class="change-code" id="J_CodeHandlerV">看不清<br>换一张</a>
            </div>
            <div class="submit">
                <input type="hidden" name="loginsite" value="0" id="J_loginsite"/>
        		<input type="hidden" name="newlogin" value="" />
       			
        		<input type="hidden" id="J_TPL_redirect_url" name="TPL_redirect_url" value="http://member1.taobao.com/member/fresh/account_security.htm?spm=1.7274553.754894437.3.fINakd" />                                            
        		<input type="hidden" id="J_From" name="from" value="tb" />
        		<input type="hidden" name="fc" value="default" />
        		<input type="hidden" id="J_CssStyle" name="style" value="default" />
        		<input type="hidden" id="J_CssStyle2" name="css_style" value="" />
        		
        		<input type="hidden" name="tid" />
        		<input type="hidden" name="support" value="000001"/>
        		<input type="hidden" name="CtrlVersion" value="1,0,0,7"/> 
        		<input type="hidden" name="loginType" value="3" />
        		<input type="hidden" name="minititle" value=""/>
        		<input type="hidden" name="minipara" value=""/>
				<input type="hidden" id="um_to" name="umto" value="Tcda905540c8c372f4eba805820d8bc7e"/>
        		<input type="hidden" name="pstrong" value="" />
        		<input type="hidden" name="llnick" id="llnick1" value="" />                                                
        		
        		<input type="hidden" id="J_sign" name="sign" value=""/>
        		<input type="hidden" id="J_need_sign" name="need_sign" value=""/>
        		            
        		<input type="hidden" id="J_isIgnore" name="isIgnore" value=""/>
				<input type="hidden" id="J_full_redirect" name="full_redirect" value=""/>
       			
        		<input type="hidden" name="popid" value=""/>
        		<input type="hidden" name="callback" value=""/>
       			
        		<input type="hidden" id="J_guf" name="guf" value=""/>
        		<input type="hidden" id="J_not_duplite_str" name="not_duplite_str" value=""/>                
        		<input type="hidden" name="need_user_id" value=""/>    
         		
        		<input type="hidden" name="poy"/> 
         		
        		<input type="hidden" id="gvfdc" name="gvfdcname" value=""/>
        		<input type="hidden" name="gvfdcre" value=""/>
         		
        		<input type="hidden" id="J_from_encoding" name="from_encoding" value=""/> 
        		
        		<input type="hidden" id="J_sub" name="sub" value=""/> 
        		
        		<input type="hidden" name="TPL_password_2" id="TPL_password_2" />     
	        	<input type="hidden" id="J_PBK" value="9a39c3fefeadf3d194850ef3a1d707dfa7bec0609a60bfcc7fe4ce2c615908b9599c8911e800aff684f804413324dc6d9f982f437e95ad60327d221a00a2575324263477e4f6a15e3b56a315e0434266e092b2dd5a496d109cb15875256c73a2f0237c5332de28388693c643c8764f137e28e8220437f05b7659f58c4df94685"/>    
            	<input type="hidden" name="loginASR" value="1"/>     
	        	<input type="hidden" name="loginASRSuc" value="0"/>
        		
        		<input type="hidden" name="allp" value=""/>  
        		<input type="hidden" name="oslanguage"/>
        		<input type="hidden" name="sr"/>
        		<input type="hidden" name="osVer"/>
        		<input type="hidden" name="naviVer"/>
        		<input type="hidden" name="qstr" value="redirectURL=http%3A%2F%2Fmember1.taobao.com%2Fmember%2Ffresh%2Faccount_security.htm%3Fspm%3D1.7274553.754894437.3.fINakd" />
                <button class="btn-submit J_Submit" type="submit" data-ing="确认中..." id="J_VerifySubmit">确　认</button>
            </div>
        </form>
        <div class="entries">
            <a class="fl" href="?enup=false&amp;redirectURL=http%3A%2F%2Fmember1.taobao.com%2Fmember%2Ffresh%2Faccount_security.htm%3Fspm%3D1.7274553.754894437.3.fINakd" id="J_OtherAccountV">使用其他账户登录</a>
            <a class="fr" href="http://110.taobao.com/account/activate.htm" target="_blank" id="J_ForgotPwdV">忘记登录密码？</a>
        </div>
       </div>
       <div class="abc" id="J_LoginABC"></div>
   </div>
   