			<!-- main -->
			<div id="Main" class="main">
				<div
					class="cat_1 cat-wrap  small-cat-wrapper  cat-wrap-sky cat-b-wrapper">
					<div class="cat-hd">
						<h3>
							<a href="#">手机数码</a>
						</h3>

						<div class="activity act-arrow">
							<em></em>
							<div class="activity-bg"></div>
							<a href="http://cdj.taobao.com/">玩儿的就是想不到</a>
						</div>


						<div class="cat-tags">

							<a
								href="http://2.taobao.com/recycle/3c/?spm=2007.1000261.10.4.lvPQeh">手机回收</a>

							<span>|</span> <a
								href="http://s.taobao.com/search?seller_type=taobao&amp;initiative_id=staobaoz_20141229&amp;tab=all&amp;q=4K%CF%D4%CA%BE%C6%F7&amp;stats_click=search_radio_all%253A1&amp;sort=sale-desc">4K显示器</a>




						</div>
					</div>
					<div class="cat-bd ">
						<div class="cat-list">
							<div class="list-item  ">

								<ul>

									<li class="item-header"><a
										href="http://www.taobao.com/market/3c/shouji.php?spm=a230r.7395280.a214da9.131.wb2Y00"
										class="em">手机</a></li>


									<li><a
										href="http://s.taobao.com/list?app=vproduct&amp;vlist=1&amp;q=iphone&amp;cat=1512&amp;from_type=3c"
										class="em">iPhone</a></li>

									<li><a
										href="http://s.taobao.com/list?app=vproduct&amp;vlist=1&amp;q=小米&amp;cat=1512&amp;from_type=3c">小米</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?app=vproduct&amp;vlist=1&amp;q=华为&amp;cat=1512&amp;from_type=3c">华为</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?app=vproduct&amp;vlist=1&amp;q=酷派&amp;cat=1512&amp;from_type=3c">大神</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?app=vproduct&amp;vlist=1&amp;q=魅族&amp;cat=1512&amp;from_type=3c">魅族</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?app=vproduct&amp;vlist=1&amp;q=三星&amp;cat=1512&amp;from_type=3c">三星</a>
									</li>

								</ul>

								<ul>

									<li class="item-header"><a
										href="http://s.taobao.com/list?spm=a217h.1099669.a214da9-static.11.w7hfll&amp;initiative_id=staobaoz_20140708&amp;q=%C6%BD%B0%E5%B5%E7%C4%D4&amp;from_type=3c">平板</a>
									</li>


									<li><a
										href="http://s.taobao.com/list?spm=a219r.lm0.a214da9-static.12.MyMCcm&amp;app=vproduct&amp;vlist=1&amp;q=ipad&amp;cat=50047310&amp;from_type=3c"
										class="em">iPad</a></li>

									<li><a
										href="http://s.taobao.com/list?spm=a219r.lm0.0.0.ZF5bjZ&amp;initiative_id=staobaoz_20140708&amp;app=detailproduct&amp;jc=1&amp;q=%C6%BD%B0%E5%B5%E7%C4%D4&amp;spu_title=%D0%A1%C3%D7+%D0%A1%C3%D7%C6%BD%B0%E5&amp;pspuid=734311&amp;cat=50047310&amp;from_pos=20_50047310.default_0_1_734311&amp;from_type=3c&amp;spu_style=grid">小米</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=a230r.1.12.1.OxJpxB&amp;q=%C8%FD%D0%C7+%C6%BD%B0%E5%B5%E7%C4%D4&amp;app=vproduct&amp;vlist=1&amp;from_combo=true">三星</a>
									</li>

									<li><a
										href="http://list.taobao.com/itemlist/shuma.htm?cat=50047310&amp;sd=1&amp;as=0&amp;viewIndex=1&amp;spm=a2106.2206569.0.0.kp5pWI&amp;atype=b&amp;style=list&amp;ppath=121516899%3A8504807%3B121516899%3A30006068&amp;same_info=1&amp;tid=0&amp;isnew=2&amp;_input_charset=utf-8">10寸</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=a230r.1.12.1.GKGoNW&amp;q=%CC%A8%B5%E7%C6%BD%B0%E5&amp;app=vproduct&amp;vlist=1&amp;from_combo=true&amp;from_type=3c">台电</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=a230r.1.12.1.NwVIpw&amp;q=win8%C6%BD%B0%E5&amp;app=vproduct&amp;vlist=1&amp;from_combo=true&amp;from_type=3c">win8</a>
									</li>

								</ul>

								<ul>

									<li class="item-header"><a
										href="http://www.taobao.com/market/3c/diannao.php?spm=a219r.lm0.a214da9.13.ZF5bjZ">电脑</a>
									</li>


									<li><a
										href="http://s.taobao.com/list?spm=a217h.1099669.a214da9-static.30.RyLIS5&amp;q=%C6%BB%B9%FB%B1%CA%BC%C7%B1%BE&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;initiative_id=tbindexz_20140707&amp;from_type=3c">苹果</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=a230r.7395280.a214da9-static.31.9FKBNw&amp;q=%C1%AA%CF%EB%B1%CA%BC%C7%B1%BE&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;initiative_id=tbindexz_20140707&amp;from_type=3c">联想</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=1.7274553.204.23.PTA2Fw&amp;q=%CD%E2%D0%C7%C8%CB&amp;app=vproduct&amp;vlist=1&amp;from_combo=true&amp;from_type=3c"
										class="em">外星人</a></li>

									<li><a
										href="http://s.taobao.com/list?spm=a217h.1099669.a214da9-static.38.aecvsb&amp;q=%CC%A8%CA%BD%BB%FA&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;initiative_id=tbindexz_20140904&amp;seller_type=taobao">台式机</a>
									</li>

									<li><a
										href="http://s.taobao.com/search?q=%D6%C7%C4%DC%C2%B7%D3%C9&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;spm=1.7274553.1997520841.1&amp;initiative_id=tbindexz_20141229&amp;seller_type=taobao">路由器</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=1.7274553.204.25.vKUnve&amp;q=%D1%A7%C9%FA%B1%CA%BC%C7%B1%BE&amp;app=vproduct&amp;vlist=1&amp;from_combo=true&amp;from_pos=19_1101.bpvcombo_0_null_link&amp;cat=1101&amp;from_type=3c">学生</a>
									</li>

								</ul>

								<ul>

									<li class="item-header"><a
										href="http://www.taobao.com/market/3c/360camera.php?spm=a217h.7276445.a214da9.12.n9uBYs">相机</a>
									</li>


									<li><a
										href="http://s.taobao.com/list?spm=a217h.1099669.a214da9-static.21.tI7JQl&amp;app=vproduct&amp;vlist=1&amp;q=%E5%8D%95%E5%8F%8D%E7%9B%B8%E6%9C%BA&amp;cat=50003773&amp;from_type=3c">单反</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=a217h.1099669.a214da9-static.25.K9Fxp6&amp;app=vproduct&amp;vlist=1&amp;q=%BF%A8%CE%F7%C5%B7&amp;cat=1403&amp;from_type=3c"
										class="em">自拍神器</a></li>

									<li><a
										href="http://s.taobao.com/list?q=%C5%C4%C1%A2%B5%C3&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;spm=1.7274553.1997520841.1&amp;initiative_id=tbindexz_20140915&amp;seller_type=taobao">拍立得</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=a230r.7395280.0.0.SzhQbQ&amp;tab=all&amp;q=%B5%A5%B7%B4%CF%E0%BB%FA&amp;app=vproduct&amp;cps=yes&amp;from_type=3c&amp;cat=50003773&amp;vlist=1&amp;from=compass&amp;ppath=2176:21422">佳能</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=a230r.7395280.a214da9-static.22.EmDDLp&amp;app=vproduct&amp;vlist=1&amp;q=%E5%8D%95%E7%94%B5&amp;cat=50067157&amp;from_type=3c">微单</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?q=%BE%B5%CD%B7&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;spm=1.7274553.1997520841.1&amp;initiative_id=tbindexz_20140716&amp;from_type=3c">镜头</a>
									</li>

								</ul>

								<ul>

									<li class="item-header"><a
										href="http://www.taobao.com/market/3c/3cpeijian.php?spm=a217h.7274661.a214da9.14.xu4WyQ">3C配件</a>
									</li>


									<li><a
										href="http://s.taobao.com/list?spm=a217h.7277045.a214da9-static.48.dnELIL&amp;q=%D2%C6%B6%AF%B5%E7%D4%B4&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;initiative_id=tbindexz_20140916&amp;seller_type=taobao">充电宝</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=a217h.7277045.a214da9-static.46.dnELIL&amp;q=%D6%C7%C4%DC%CA%D6%BB%B7&amp;cat=11%2C1101%2C1201%2C14%2C1512%2C20%2C50008090%2C50012164%2C50018222%2C50018264%2C50019780%2C50076292&amp;style=grid&amp;seller_type=taobao"
										class="em">智能穿戴</a></li>

									<li><a
										href="http://s.taobao.com/list?spm=a217h.7277045.a214da9-static.50.xb6QiL&amp;q=%C0%B6%D1%C0%B6%FA%BB%FA&amp;cat=11%2C1101%2C1201%2C14%2C1512%2C20%2C50008090%2C50012164%2C50018222%2C50018264%2C50019780%2C50076292&amp;style=grid&amp;seller_type=taobao">蓝牙耳机</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=a219r.lm872.a214da9-5.32.QTSDYi&amp;q=USB+%C5%AF%CA%D6&amp;cat=11%2C1101%2C1201%2C14%2C1512%2C20%2C50008090%2C50012164%2C50018222%2C50018264%2C50019780%2C50076292&amp;style=grid&amp;seller_type=taobao">暖手宝</a>
									</li>

									<li><a
										href="http://s.taobao.com/list?spm=a219r.lm872.3.4.mjx909&amp;tab=all&amp;q=%B5%E7%C4%D4%B0%FC&amp;app=list&amp;style=grid&amp;cps=yes&amp;seller_type=taobao&amp;s=0&amp;cat=50008090">电脑包</a>
									</li>

								</ul>


							</div>


							<ul class="hot-world-list">
								<li class="J_tui_words" ><a
									href="http://s.taobao.com/list?spm=a219r.lm0.0.0.2sc42W&amp;app=detailproduct&amp;jc=1&amp;q=%BB%AA%CE%AA%CA%D6%BB%FA&amp;spu_title=%BB%AA%CE%AA+Mate+7+%B1%EA%D7%BC%B0%E6&amp;pspuid=955973&amp;cat=1512&amp;from_pos=20_1512.default_0_2_955973&amp;from_type=3c&amp;spu_style=grid"
									title="6寸大屏" class="guess em">6寸大屏</a> <a
									href="http://s.taobao.com/search?fs=1&amp;initiative_id=staobaoz_20140926&amp;tab=all&amp;q=iphone6+%CC%D7&amp;stats_click=search_radio_all%253A1&amp;auction_tag%5B0%5D=4806"
									title="iPhone6套" class="">iPhone6套</a> <a
									href="http://s.taobao.com/list?spm=1.7274553.204.10.PTA2Fw&amp;q=%CA%D6%BB%FA&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;initiative_id=tbindexz_20140707&amp;from_type=3c"
									title="手机大全" class="">手机大全</a> <a
									href="http://www.taobao.com/market/2014/1212/trade/mobilephone.php"
									title="小米手机" class="">小米手机</a></li>
							</ul>
						</div>

						<div class="cat-img-tui">
							<a
								href="#"
								class="cat-banner-image img-tui-0" title="潮流新生活"
								>
								<span class="banner-title">潮流新生活</span>
							</a> <a
								href="#"
								class="cat-banner-image img-tui-1" title="手机回收折现"
								>
								<span class="banner-title">手机回收折现</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- end of main -->