<div class="content">

    

<!-- CMS:会员中心cms/console/scene.vm开始:console/scene.vm -->


<p class="ft-14">您正在为账户 <em class="ft-orange">    					ale***@163.com
			</em> 重置登录密码，请选择重置方式：</p>

<!-- CMS:会员中心cms/会员中心/查询风险建议政策_除修改手机场景开始:console/queryRiskAdvicePolicy2.vm --><div class="infobox">
    <div class="ui-tipbox ui-tipbox-message fn-hide" id="J-check-wait">
        <div class="ui-loading"></div>
        <div class="ui-tipbox-content">
						            	
							            	
							            	
							            	
							            	
							            	<h3 class="ui-tipbox-title check-ok5">安全产品检测完成</h3>
							        </div>
    </div>
    <div class="ui-tipbox ui-tipbox-success" id="J-check-ok">
        <div class="ui-tipbox-icon ui-icon-success">   
        </div>
        
        <div class="ui-tipbox-content">
            <h3 class="ui-tipbox-title">经过检测，你在<font color="#f57800">不常用的环境</font>下操作，需要进行安全校验</h3>
        </div>
    </div>
    <div class="ui-tipbox ui-tipbox-error fn-hide" id="J-check-fail">
        <div class="ui-tipbox-icon ui-icon-error">   
        </div>
        
        <div class="ui-tipbox-content">
            <h3 class="ui-tipbox-title">账户状态异常，别担心还有客服为你服务</h3>
        </div>
    </div>
</div>
<!-- CMS:会员中心cms/会员中心/查询风险建议政策_除修改手机场景结束:console/queryRiskAdvicePolicy2.vm -->        
<ol class="select-strategy" id="J-select-strategy">
                                        <li class="fn-clear">
            <i class="icon icon-sms"></i>
                                        <div class="desc desc-hasnotice">
                    <h3 class="title"><span class="text">通过验证短信</span><i class="recommend">推荐</i></h3>
                    <p class="notice">如果您的139****9443手机还在正常使用，请选择此方式</p>
                </div>
                <div class="ui-button ui-button-morange">
                    <a class="ui-button-text j-strategy" data-method="sms" seed="Do-resetQueryPwd-Select-sms" href="https://accounts.alipay.com/console/selectStrategy.htm?sp=0-resetQueryPwd-iframe&amp;strategy=sms">立即重置</a>
                </div>
                    </li>
                                            <li class="fn-clear">
            <i class="icon icon-email"></i>
                                        <div class="desc desc-hasnotice">
                    <h3 class="title"><span class="text">通过验证电子邮箱</span></h3>
                    <p class="notice">如果您的账户邮箱ale***@163.com还在使用，请选择此方式</p>
                </div>
                <div class="ui-button ui-button-morange">
                    <a class="ui-button-text j-strategy" data-method="email" seed="Do-resetQueryPwd-Select-email" href="https://accounts.alipay.com/console/selectStrategy.htm?sp=0-resetQueryPwd-iframe&amp;strategy=email">立即重置</a>
                </div>
                    </li>
                                    <li class="fn-clear">
            <i class="icon icon-manual"></i>
                                                    <!-- CMS:会员中心cms/console/queryStrategy.vm开始:console/queryStrategy.vm -->                                        <div class="desc desc-hasnotice">
            <h3 class="title"><span class="text">通过人工服务</span></h3>
            <p class="notice">填写申请单，上传身份证件图片，等待审核结果</p>
          </div>
          <div class="ui-button ui-button-morange">
            <a class="ui-button-text j-strategy" data-method="manual" seed="Do-resetQueryPwd-Select-manual" href="http://service.taobao.com/support/main/complain_user.htm" target="_blank">立即重置</a>
          </div>
                            </li>
    </ol>



</div>

<!--1.短信验证身份-->
<div class="content">

    

<!-- CMS:会员中心cms/console/scene.vm开始:console/scene.vm -->





<div class="maincenter">
        
<ol class="ui-iconfontstep ui-iconfontstep-3">
    <li class="ui-iconfontstep-start  ui-iconfontstep-active ">
        <em><i class="iconfont" title="菱形">y</i><strong></strong><i class="ui-iconfontstep-stepNum">1</i></em>
        <span>验证身份</span>
    </li>
    <li class="ui-iconfontstep-press ">
        <em><i class="iconfont" title="菱形">y</i><strong></strong><i class="ui-iconfontstep-stepNum">2</i></em>
        <span>重置登录密码</span>
    </li>
    <li class="ui-iconfontstep-end ">
        <em><i class="iconfont" title="菱形">y</i><strong></strong><i class="iconfont ui-iconfontstep-stepNumEnd" title="成功">r</i></em>
        <span>重置成功</span>
    </li>
</ol>
    <div class="maincenter-box">
        <div class="maincenter-box-tip">
            <p class="ui-tiptext ui-tiptext-message"><span class="ui-tiptext-icon"></span>您正在使用 “<span class="strong">验证短信</span>” 进行校验。</p>
        </div>

        <form class="ui-form" name="strategyForm" id="J-selectStrategyForm" method="post" action="https://accounts.alipay.com/console/checkStrategy.htm?sp=0-resetQueryPwd-iframe" novalidate="novalidate" data-widget-cid="widget-0">
                            <input type="hidden" name="_form_token" value="Y0dH2mbGmrBf2XbhYv7RCr8SZEnYejH4">
                                                                <div class="ui-form-item">
                        <label class="ui-label ui-label-reset">手机号码</label>
                        <p class="ui-form-text" id="J-mobile">139****9443</p>
                    </div>
                                                                    <div class="ui-form-item    ">
                        <label class="ui-label">校验码</label>
                        <p class="ui-button ui-button-swhite " id="J-getCode">
                            <input type="button" autocomplete="off" class="ui-button-text" value="点此免费获取" seed="Use-checkCode-for-resetQueryPwd-1">
                        </p>
                        <input type="text" class="ui-input ui-input-checkcode  fn-hide " placeholder="6位数字" id="J-inputCode" name="checkCode" autocomplete="off" value="" data-explain=" " maxlength="6" seed="Use-checkCode-for-resetQueryPwd-2" data-widget-cid="widget-1">
                        <span class="ui-form-other  fn-hide " id="J-noCode">
                            <a href="#" class="ui-form-other-link" id="J-noCode-link" seed="Use-checkCode-for-resetQueryPwd-3">没收到短信校验码？</a>
                        </span>
                        <div class="ui-poptip ui-poptip-blue j-tipshow fn-hide" id="J-resentCode" data-widget-cid="widget-1">
                            <div class="ui-poptip-shadow">
                                <div class="ui-poptip-container">
                                    <div class="ui-poptip-arrow ui-poptip-arrow-7">
                                        <em>◆</em>
                                        <span>◆</span>
                                    </div>
                                    <div class="ui-poptip-content">
                                        <ul class="list">
                                            <li><i class="icon-list"></i>网络通讯异常可能会造成短信丢失，请重新获取或稍后再试。</li>
                                            <li class="list-btn">
                                                <p class="ui-button  ui-button-sdisable" id="J-reGetCode" data-widget-cid="widget-0">
                                                    <button class="ui-button-text" disabled="disabled" type="button" autocomplete="off" seed="JReGetCode-btn" smartracker="on">重新获取校验码</button>
                                                </p>
                                                <span class="list-btn-explain list-btn-explain-loading" id="J-reGetCode-success"></span>
                                                <p class="list-btn-explain list-btn-explain-error fn-hide" id="J-reGetCode-error"><i class="icon icon-error"></i></p>
                                            </li>
                                            <li><i class="icon-list"></i>请核实手机是否已欠费停机，或者屏蔽了系统短信。</li>
                                                                                                                                    <li><i class="icon-list"></i>如果手机139****9443已丢失或停用，请 <a href="https://accounts.alipay.com/console/queryStrategy.htm?sp=0-resetQueryPwd-iframe" seed="list-link" smartracker="on">选择其他验证方式</a>。</li>
                                                                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                </div>

                            
            
                                <div class="ui-form-item ui-form-item-last    ">
                <div class="ui-button ui-button-morange" id="J-submit-btn">
                    <input type="submit" value="下一步" class="ui-button-text" seed="Do-resetQueryPwd-By-sms">
                </div>
                            <a href="https://accounts.alipay.com/console/queryStrategy.htm?sp=0-resetQueryPwd-iframe" class="ui-form-other" seed="Do-resetQueryPwd-When-sms">重新选择验证方式</a>
                                            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
/**/
function triggerTracker(errorMap) {
    var _logStr = [];
    var logStr = '';
    for(var prop in errorMap) {
        _logStr.push(errorMap[prop]);
    }
    if(_logStr.length) {
        /**/
        logStr = 'error-resetQueryPwd-sms-' + _logStr.join('|');
        /**/
        Tracker && Tracker.log && Tracker.log(logStr);
    }
}
</script>




</div>
<!--1.短信验证身份-->

<!--1.用电子邮箱验证身份-->
<div class="content">

    
<!-- CMS:会员中心cms/console/scene.vm开始:console/scene.vm -->


<div class="maincenter">
    
<ol class="ui-iconfontstep ui-iconfontstep-3">
    <li class="ui-iconfontstep-start  ui-iconfontstep-active ">
        <em><i class="iconfont" title="菱形">y</i><strong></strong><i class="ui-iconfontstep-stepNum">1</i></em>
        <span>验证身份</span>
    </li>
    <li class="ui-iconfontstep-press ">
        <em><i class="iconfont" title="菱形">y</i><strong></strong><i class="ui-iconfontstep-stepNum">2</i></em>
        <span>重置登录密码</span>
    </li>
    <li class="ui-iconfontstep-end ">
        <em><i class="iconfont" title="菱形">y</i><strong></strong><i class="iconfont ui-iconfontstep-stepNumEnd" title="成功">r</i></em>
        <span>重置成功</span>
    </li>
</ol>
    <div class="maincenter-box">
        <div class="maincenter-box-tip">
            <p class="ui-tiptext ui-tiptext-message">
                <i class="ui-tiptext-icon"></i>您正在使用 “<span class="strong">电子邮箱</span>” 验证身份，请完成以下操作：
            </p>
        </div>
        <div class="sentmail">
            <p class="result">
                <i class="icon-mail"></i>邮件已发送到您的邮箱
                <span class="account">ale***@163.com</span>。请按邮箱中的提示操作，完成身份验证。
            </p>

                        <p class="result">
                <a href="http://mail.163.com/" target="_blank" class="ui-button ui-button-morange" seed="Do-resetQueryPwd-By-securityCheckEmail">
                    <span class="ui-button-text">立即查收邮件</span>
                </a>
            </p>
                    </div>
        <div class="resentmail">
            <p class="title">一直没有收到邮件？</p>
            <ul class="list">
                <li>
                    <i class="icon-list"></i>
                    请先检查是否在垃圾邮件中。如果还未收到，请
                    <span id="J-resend-mail" class="ui-button ui-button-swhite" data-widget-cid="widget-0">
                        <button class="ui-button-text" seed="resendMail-when-resetQueryPwd">点击重新发送邮件</button>
                    </span>
                    <span class="list-btn-explain list-btn-explain-loading" id="J-resend-success"></span>
                </li>
                <li>
                    <i class="icon-list"></i>
                    还是收不到？请<a href="https://accounts.alipay.com/console/queryStrategy.htm?sp=0-resetQueryPwd-iframe" seed="otherWay-when-resetQueryPwd">选择其他验证方式</a>
                </li>
            </ul>
        </div>
    </div>
</div>




</div>
<!--1.用电子邮箱验证身份-->

<!--2.重置登录密码-->
<div class="content">

    


<!-- CMS:会员中心cms/console/scene.vm开始:console/scene.vm -->
<div class="maincenter">
    
<ol class="ui-iconfontstep ui-iconfontstep-3">
    <li class="ui-iconfontstep-start  ui-iconfontstep-done ">
        <em><i class="iconfont" title="菱形">y</i><strong></strong><i class="ui-iconfontstep-stepNum">1</i></em>
        <span>验证身份</span>
    </li>
    <li class="ui-iconfontstep-press  ui-iconfontstep-active ">
        <em><i class="iconfont" title="菱形">y</i><strong></strong><i class="ui-iconfontstep-stepNum">2</i></em>
        <span>重置登录密码</span>
    </li>
    <li class="ui-iconfontstep-end ">
        <em><i class="iconfont" title="菱形">y</i><strong></strong><i class="iconfont ui-iconfontstep-stepNumEnd" title="成功">r</i></em>
        <span>重置成功</span>
    </li>
</ol>
    <div class="maincenter-box">

        <form class="ui-form" id="J-resetPwdForm" method="POST" action="resetQueryPwd.htm?sp=0-resetQueryPwd-iframe" novalidate="novalidate" data-widget-cid="widget-0">
                            <input type="hidden" name="_form_token" value="sD7iia71akJI2DNToPubUs3BkvfteON8">
                <input type="hidden" name="securityId" value="web|render_aliedit|59dbda14-97b8-41b9-be1d-5be444c44026GZ00">
            <div class="ui-form-item">
                <label class="ui-label ui-label-reset">账户名</label>

                <p class="ui-form-text"><span class="ui-text-amount">                       ale***@163.com
            </span></p>
            </div>

                                <div class="ui-form-item    ">
                <label class="ui-label">新的登录密码</label>
                <!-- CMS:cms/entrance/control.vm开始:entrance/control.vm -->



  
    
    
              <!-- CMS:cms/公共模块/edit_object开始:common/edit_object.vm -->



<span class="alieditContainer" id="newPwd_container"><object id="edit_newPwd" name="edit_newPwd" type="application/aliedit" width="220" height="24" tabindex=""><param name="PasswordMode" value="1"></object></span>
<input type="hidden" name="scid" value="">
<!-- CMS:cms/common/script_layout.vm开始:common/script_layout.vm --><!-- CMS:sSnapshot.vm开始:securitycore/common/script_snapshot.vm -->
<!-- CMS:sSnapshot.vm结束:securitycore/common/script_snapshot.vm -->



    
    <script type="text/javascript">
    (function () {
      var alipay = window.alipay || (window.alipay = {});
      var s = alipay.security = alipay.security || {};
      s.downloadServer = "https://download.alipay.com" || alipay.security.downloadServer;
      s.securityCenterServer = "https://securitycenter.alipay.com" || alipay.security.securityCenterServer;
      s.hasBrowserControlPolicy = false;
              s.certDataAccessPolicy = "";
            s.controlCheckTimeout = Number("3000");
      s.websocketPorts = "27382,45242";
      s.newCertControlDownloadAddress = "";
      s.sid = "web|render_aliedit|59dbda14-97b8-41b9-be1d-5be444c44026GZ00";
    })();
  </script>
  <script type="text/javascript" charset="utf-8" crossorigin="anonymous" src="https://a.alipayobjects.com/static/ar/??alipay.light.base-1.10.js,alipay.light.page-1.15-sizzle.js,alipay.security.base-1.8.js,alipay.security.utils.chromeExtension-1.1.js,alipay.security.edit-1.22.js,alipay.security.utils.pcClient-1.1.js,alipay.security.cert-1.5.js,alipay.security.otp-1.2.js,alipay.security.mobile-1.7.js,alipay.security.ctuMobile-1.2.js,alipay.security.riskMobileBank-1.3.js,alipay.security.riskMobileAccount-1.3.js,alipay.security.riskMobileCredit-1.2.js,alipay.security.riskCertificate-1.0.js,alipay.security.riskSecurityQa-1.0.js,alipay.security.riskExpressPrivacy-1.0.js,alipay.security.checkCode-1.1.js,alipay.security.rds-1.0.js,alipay.security.barcode-1.1.js,alipay.security.riskOneKeyConfirm-1.2.js,alipay.security.riskSudoku-1.0.js,alipay.security.riskOriginalAccountMobile-1.0.js,alipay.security.riskOriginalSecurityQa-1.0.js,alipay.security.core-1.21.js"></script>
    <script>
  light.trackOn = false;
  light.has('page/products') || light.register('page/products');
  light.has('page/scProducts') || light.register('page/scProducts', light, []);
  alipay.security.utils.chromeExtension.setExtensionId('lapoiohkeidniicbalnfmakkbnpejgbi');
</script>
<!-- CMS:cms/common/script_layout.vm结束:common/script_layout.vm --><script type="text/javascript">
    light.ready(function () {
        var s = alipay.security;
        var edit,
            options = {
                container: "newPwd_container",
                id: "edit_newPwd",
                name: "edit_newPwd",
                hidnId: "newPwd",
                width: "220",
                height: "24",
                tabindex: "",
                passwordMode: "1",
                timestamp: "5397491532",
                pk: "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDDS92pDVyWNT7dzG9zH0opH44z9FayCZTX5iqGUxUjPi667IkyaqrsmDPqKsJp47lJ29lzs+Qv8zjPPdmnxjFteMrfpc4ui24gL1iZnchwX87Ox/+Xrm8HFmKlhmUO9n/QgTT+Nz1RGMEN1+HijvsoAhS0TS8XjSfzRkrwvK2pJQIDAQAB",
                alieditUpgradeVersions: ""
            };
                            edit = window.light.page.products["newPwd"] = s.create(s.edit, options);
            s.edit.installed && edit.render();
            edit.available = true;
            });
</script>

<!-- CMS:cms/公共模块/edit_object结束:common/edit_object.vm -->        <!-- CMS:cms/公共模块/edit_input开始:common/edit_input.vm -->
<span class="standardPwdContainer" style="display:none">
  <input type="password" tabindex="" id="newPwd_input" name="newPwd_input" class="ui-input" oncontextmenu="return false" onpaste="return false" oncopy="return false" oncut="return false" autocomplete="off" seed="standardPwdContainer-newPwd_input" smartracker="on" data-id="newPwd_input1425397732160387">
</span>


<!-- CMS:cms/common/script_layout.vm开始:common/script_layout.vm --><!-- CMS:sSnapshot.vm开始:securitycore/common/script_snapshot.vm -->
<!-- CMS:sSnapshot.vm结束:securitycore/common/script_snapshot.vm -->



<!-- CMS:cms/common/script_layout.vm结束:common/script_layout.vm --><script type="text/javascript">
light.ready(function(){
  var s = alipay.security;
  var noedit = light.page.products['newPwd_input'] = s.create(s.noedit, {
    id: 'newPwd_input',
    hidnId: 'newPwd',
    useKS: true,
    ksk: '62e346ba-f354-4fde-83eb-62fd81930732'   });

  if (!light.page.products['newPwd']) {
    light.page.products['newPwd'] = light.page.products['newPwd_input'];
  }
  
  noedit.render();
});
</script><!-- CMS:cms/公共模块/edit_input结束:common/edit_input.vm -->    <!-- CMS:cms/common/edit_hidn.vm开始:common/edit_hidn.vm -->

<input type="hidden" name="J_aliedit_using" value="true">
<input type="hidden" id="newPwd" name="newPwd" value="" data-widget-cid="widget-1" data-explain="<i class=&quot;ui-form-icon&quot;></i>
                        必须是6-20个英文字母、数字或符号，不能是纯数字
                    ">
<input type="hidden" name="J_aliedit_key_hidn" value="newPwd">

<input type="hidden" name="J_aliedit_uid_hidn" value="alieditUid">
<input type="hidden" id="alieditUid" name="alieditUid" value="eef922e4256c9f51c8983bb9f62899ab">

<input type="hidden" name="REMOTE_PCID_NAME" value="_seaside_gogo_pcid">
<input type="hidden" name="_seaside_gogo_pcid" value="">
<input type="hidden" name="_seaside_gogo_" value="XOR_1_000000000000000000000000000000_63584750400978737E03760C">
<input type="hidden" name="_seaside_gogo_p" value="">

<input type="hidden" name="J_aliedit_prod_type" value="">

<input type="hidden" name="security_activeX_enabled" value="false">

<input type="hidden" name="J_aliedit_net_info" value="">

<input type="hidden" id="edit_infor" value="">

<script>
  light.node('newPwd').parent().find('[name=security_activeX_enabled]')[0].value = alipay.security.activeXEnabled;
</script><!-- CMS:cms/common/edit_hidn.vm结束:common/edit_hidn.vm -->
    <script type="text/javascript">
      light.ready(function () {
        var s = alipay.security;
                  var edit = light.page.products["newPwd"];
          light.page.scProducts.push(edit);
          light.node(edit.__type.installed ? '#J_edit_prompt_default' : '#J_edit_prompt_noEdit').removeClass('fn-hide');
              });

    </script>

    
  

<!-- CMS:cms/entrance/control.vm结束:entrance/control.vm -->                <a href="#" class="ui-form-other" id="J-how2set" seed="how2set-By-sms">如何设置安全密码？</a>
                <div class="ui-poptip fn-hide" id="J-how2set-pop" data-widget-cid="widget-0">
                    <div class="ui-poptip-shadow">
                        <div class="ui-poptip-container">
                            <div class="ui-poptip-arrow ui-poptip-arrow-11">
                                <em>◆</em>
                                <span>◆</span>
                            </div>
                            <div class="ui-poptip-content" data-role="content">
                                <ul class="how2set-list">
                                    <li>建议采用字母和数字混合</li>
                                    <li>避免与账户名、生日、手机号等部分或完全相同</li>
                                    <li>避免使用有规律的数字或字母</li>
                                </ul>
                                <a href="http://help.alipay.com/lab/help_detail.htm?help_id=246001&amp;keyword=%B0%B2%C8%AB%C3%DC%C2%EB" target="_blank" seed="link-how2set">更多设置技巧</a>
                            </div>
                        </div>
                    </div>
                </div>

                                    <p class="ui-form-explain"><i class="ui-form-icon"></i>
                        必须是6-20个英文字母、数字或符号，不能是纯数字
                    </p>
                            </div>

                                <div class="ui-form-item    ">
                <label class="ui-label">确认新的登录密码</label>
                <!-- CMS:cms/entrance/control.vm开始:entrance/control.vm -->



  
    
    
              <!-- CMS:cms/公共模块/edit_object开始:common/edit_object.vm -->



<span class="alieditContainer" id="newPwdConfirm_container"><object id="edit_newPwdConfirm" name="edit_newPwdConfirm" type="application/aliedit" width="220" height="24" tabindex=""><param name="PasswordMode" value="1"></object></span>
<input type="hidden" name="scid" value="">
<!-- CMS:cms/common/script_layout.vm开始:common/script_layout.vm --><!-- CMS:sSnapshot.vm开始:securitycore/common/script_snapshot.vm -->
<!-- CMS:sSnapshot.vm结束:securitycore/common/script_snapshot.vm -->



<!-- CMS:cms/common/script_layout.vm结束:common/script_layout.vm --><script type="text/javascript">
    light.ready(function () {
        var s = alipay.security;
        var edit,
            options = {
                container: "newPwdConfirm_container",
                id: "edit_newPwdConfirm",
                name: "edit_newPwdConfirm",
                hidnId: "newPwdConfirm",
                width: "220",
                height: "24",
                tabindex: "",
                passwordMode: "1",
                timestamp: "5397491532",
                pk: "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDDS92pDVyWNT7dzG9zH0opH44z9FayCZTX5iqGUxUjPi667IkyaqrsmDPqKsJp47lJ29lzs+Qv8zjPPdmnxjFteMrfpc4ui24gL1iZnchwX87Ox/+Xrm8HFmKlhmUO9n/QgTT+Nz1RGMEN1+HijvsoAhS0TS8XjSfzRkrwvK2pJQIDAQAB",
                alieditUpgradeVersions: ""
            };
                            edit = window.light.page.products["newPwdConfirm"] = s.create(s.edit, options);
            s.edit.installed && edit.render();
            edit.available = true;
            });
</script>

<!-- CMS:cms/公共模块/edit_object结束:common/edit_object.vm -->        <!-- CMS:cms/公共模块/edit_input开始:common/edit_input.vm -->
<span class="standardPwdContainer" style="display:none">
  <input type="password" tabindex="" id="newPwdConfirm_input" name="newPwdConfirm_input" class="ui-input" oncontextmenu="return false" onpaste="return false" oncopy="return false" oncut="return false" autocomplete="off" seed="standardPwdContainer-newPwdConfirm_input" smartracker="on" data-id="newPwdConfirm_input1425397732220934">
</span>


<!-- CMS:cms/common/script_layout.vm开始:common/script_layout.vm --><!-- CMS:sSnapshot.vm开始:securitycore/common/script_snapshot.vm -->
<!-- CMS:sSnapshot.vm结束:securitycore/common/script_snapshot.vm -->



<!-- CMS:cms/common/script_layout.vm结束:common/script_layout.vm --><script type="text/javascript">
light.ready(function(){
  var s = alipay.security;
  var noedit = light.page.products['newPwdConfirm_input'] = s.create(s.noedit, {
    id: 'newPwdConfirm_input',
    hidnId: 'newPwdConfirm',
    useKS: true,
    ksk: '62e346ba-f354-4fde-83eb-62fd81930732'   });

  if (!light.page.products['newPwdConfirm']) {
    light.page.products['newPwdConfirm'] = light.page.products['newPwdConfirm_input'];
  }
  
  noedit.render();
});
</script><!-- CMS:cms/公共模块/edit_input结束:common/edit_input.vm -->    <!-- CMS:cms/common/edit_hidn.vm开始:common/edit_hidn.vm -->

<input type="hidden" name="J_aliedit_using" value="true">
<input type="hidden" id="newPwdConfirm" name="newPwdConfirm" value="" data-widget-cid="widget-2" data-explain="">
<input type="hidden" name="J_aliedit_key_hidn" value="newPwdConfirm">

<input type="hidden" name="J_aliedit_uid_hidn" value="alieditUid">
<input type="hidden" id="alieditUid" name="alieditUid" value="eef922e4256c9f51c8983bb9f62899ab">

<input type="hidden" name="REMOTE_PCID_NAME" value="_seaside_gogo_pcid">
<input type="hidden" name="_seaside_gogo_pcid" value="">
<input type="hidden" name="_seaside_gogo_" value="XOR_1_000000000000000000000000000000_63584750400978737E03760C">
<input type="hidden" name="_seaside_gogo_p" value="">

<input type="hidden" name="J_aliedit_prod_type" value="">

<input type="hidden" name="security_activeX_enabled" value="">

<input type="hidden" name="J_aliedit_net_info" value="">

<input type="hidden" id="edit_infor" value="">

<script>
  light.node('newPwdConfirm').parent().find('[name=security_activeX_enabled]')[0].value = alipay.security.activeXEnabled;
</script><!-- CMS:cms/common/edit_hidn.vm结束:common/edit_hidn.vm -->
    <script type="text/javascript">
      light.ready(function () {
        var s = alipay.security;
                  var edit = light.page.products["newPwdConfirm"];
          light.page.scProducts.push(edit);
          light.node(edit.__type.installed ? '#J_edit_prompt_default' : '#J_edit_prompt_noEdit').removeClass('fn-hide');
              });

    </script>

    
  

<!-- CMS:cms/entrance/control.vm结束:entrance/control.vm -->                                <div class="ui-form-explain"></div></div>

                                                                                                                                                                                                                                        
                                <div class="ui-form-item J-tiptext-message    ">
                    <div class="ui-tiptext-container ui-tiptext-container-message">
                        <p class="ui-tiptext ui-tiptext-message">
                            <i class="ui-tiptext-icon iconfont" title="提示"></i>重置成功后，支付宝账户的登录密码也将同步修改
                        </p>
                    </div>
                </div>
                            
                                <div class="ui-form-item ui-form-item-last    ">
                <div class="ui-button ui-button-morange">
                    <input type="submit" value="确定" class="ui-button-text" seed="Do-resetQueryPwd-Select-sms">
                </div>
                                </div>
        </form>
    </div>
</div>

<script type="text/javascript">
/**/
function triggerTracker(errorMap) {
    var _logStr = [];
    var logStr = '';
    for(var prop in errorMap) {
        _logStr.push(errorMap[prop]);
    }
    if(_logStr.length) {
        /**/
        logStr = 'error-resetQueryPwd-sms-' + _logStr.join('|');
        /**/
        Tracker && Tracker.log && Tracker.log(logStr);
    }
}
</script>

</div>
<!--2.重置登录密码-->