#extends("common:page/frame.vm")

    #block("body")
        #require("home:static/user/reg/css/reg.css")
        #block("top")
            #widget("common:widget/top/top.vm")
        #end
        #block("content")
        <div class="header">
        #block("logo")
            #widget("common:widget/logo/logo.vm" "var:isReg=true")
        #end
        ## #block("searchBox")
        ##     #widget("common:widget/search/search.vm")
        ## #end
        </div>
    <div class="steps">
        <ol>
            <li class="active"><i>1</i><span class="tsl" data-phase-id="r_p_createAccount">设置登录名</span></li>
            <li><i>2</i><span class="tsl" data-phase-id="r_p_fillUserInfo">填写账户信息</span></li>
            <li><i>3</i><span class="tsl" data-phase-id="r_p_fillUserInfo">设置支付方式</span></li>
            <li><i class="iconfont">✔</i><span class="tsl" data-phase-id="r_p_regSuc">注册成功</span></li>
        </ol>                
    </div>
    
<div id="content">
    <div class="password_box">
        <div class="hd">
            <h2 class="hd_title">找回密码</h2>
        </div>
        <div class="bd">
            <div class="password">
                <div class="flowsteps">
                    <ol class="num4">
                            <li class="first current"><span><i>1</i><em>输入账户名</em></span></li>
                            <li><span><i>2</i><em>验证身份</em></span></li>
                            <li><span><i>3</i><em>重置密码</em></span></li>
                            <li class="last"><span><i>4</i><em>完成</em></span></li>
                    </ol>
                </div>
                <div class="kv_list">
                    <form action="" method="post" id="J_login_form"><input type="hidden" name="ua" id="UA_InputId" value="AAAA1wANAPoAAAAAAMAoABQBAAbLyozII3cBAQAIy8vKgWFcScsCAQAGycnLyv7ODAEAIeva7tzp2uPV59Dk0OnQ6tr0wfHG9sT2x/TF8cfwwvHJ+BMBABjKykREV3VOM1o8FGRUD2kQOB98G3QBTR0DAQAgy8vLy8vLy8vLy8gnJyckbm5uampqamgwMDA0NDQ0NgAKAQAlaY6vrp+rmauarJuqk6aTpZ3h0f/N/sjwwfXB88b2z/vL/s38yQQBAAnLyi8vmpqah2MEAQAJy8pnZmRkZHuHBAEACcvKiIkJCQkuggQBAAnLyzc35+fnznQEAQAJy8sUFL29veX2BgEAB8uwsLCzrhU=">
                                                <div class="kv_item">
                            <span class="kv_label">账户名</span>
                            <input name="accountName" class="i_text" id="J_username_input" type="text" value="">
                                                                                                                    <span class="place_holder" id="J_username_ph" style="display: inline; position: absolute; left: 325.5px; top: 291px;">手机号/会员名/邮箱</span>
                            <div class="msg msg-inline msg-weak show" id="J_username_tip" style="visibility: visible;">
                                <div class="msg-default msg-tips ">
                                    <i class="msg-icon"></i>
                                    <div class="msg-content">忘记会员名？就使用手机号或邮箱吧！</div>
                                                                            <a target="_blank" href="http://service.taobao.com/support/knowledge-1120621.htm?spm=a2107.1.1000341.13.F2OaqC">点此查看更多</a>
                                                                    </div>
                            </div>
                        </div>
                        <div class="kv_item">
                            <span class="kv_label">验证码</span>
                            <input name="checkCode" class="i_textshort" id="J_checkcode_input" type="text" value="" maxlength="4" autocomplete="off">
                            <img id="J_checkcode" src="http://pin.aliyun.com/get_img?sessionid=ALIa76c373bcd5c5ee563ee776496f29136&amp;identity=110.taobao.com&amp;type=150_40&amp;umidToken=T614cad078e93e884c63be96ba3a79197" width="100" height="26">
                            <a href="javascript:;" id="J_refresh_checkcode">看不清，换一张</a>
                            <div class="msg msg-inline msg-weak hide" id="J_checkcode_tip">
                                <div class="msg-default msg-error">
                                    <i class="msg-icon"></i>
                                    <div class="msg-content"></div>
                                </div>
                            </div>
                        </div>
                        <div class="kv_item">
                            <button class="btn" type="submit">
                            下一步
                            </button>
                            <div class="msg msg-inline msg-weak hide" id="J_login_form_tip">
                                <div class="msg-default">
                                    <i class="msg-icon"></i>
                                    <div class="msg-content"></div>
                                </div>
                            </div>
                                                    </div>  
                        <input name="_tb_token_" type="hidden" value="UauBlbor9o">
                        <input type="hidden" name="action" value="passwd_action">
                        <input type="hidden" name="umidToken" value="T614cad078e93e884c63be96ba3a79197">
                        <input type="hidden" name="event_submit_do_check_account" value="anything">
                        <input type="hidden" name="type" value="forgot_pwd">
                        <input type="hidden" name="nick" value="">
                                            </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
 #widget("home:widget/helper/helper.vm")
#end##end of content
#block("footer") 
#widget("common:widget/footer/footer.vm") 
#end
#end##end of body

    ## 需要依赖一下自己，否则该 vm 中依赖没法自动加载进来。
    #require("home:page/user/login/forget_password/forget_password.vm")
#end

